.container{
    width: 60%;
    margin: auto;
}
h2{
    width: 30%;
    margin: auto;
    font-size: 1.5em;
}
button{
    width: 20%;
    margin: auto;
}
body{
    background-color: cornflowerblue;
}
.container-fluid{
    width: 90%;

}
.container-2{
    width: 100%;
    margin: auto;

}
